# Tarefa 03

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os Tutores
- Divirta-se :)

In [1]:
import pandas as pd
import requests

####  1) Lendo de APIs
Vimos em aula como carregar dados públicos do governo através de um API (*Application Programming Interface*). No exemplo de aula, baixamos os dados de pedidos de verificação de limites (PVL) realizados por estados, e selecionamos apenas aqueles referentes ao estado de São Paulo.

1. Repita os mesmos passos feitos em aula, mas selecione os PVLs realizados por municípios no estado do Rio de Janeiro.
2. Quais são os três *status* das solicitações mais frequentes na base? Quais são suas frequências?
3. Construa uma nova variável que contenha o ano do **status**. Observe que ```data_status``` vem como tipo *object* no **DataFrame**. Dica: você pode usar o método ```.str``` para transformar o tipo da variável em string, em seguida um método como [**slice()**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html) ou [**split()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).
4. Indique a frequência de cada ano do campo construído no item (3).

In [2]:
# 1) Seu código aqui
url = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=RJ&tipo_interessado=Estado'
r = requests.get(url)
json_data = r.json()

data_mf = pd.DataFrame(json_data['items'])
data_mf.head(5)

df_rj = data_mf[data_mf['interessado'] == 'Rio de Janeiro']
df_rj.head(5)

,id_pleito,tipo_interessado,interessado,cod_ibge,uf,num_pvl,status,num_processo,data_protocolo,tipo_operacao,finalidade,tipo_credor,credor,moeda,valor,pvl_assoc_divida,pvl_contradado_credor,data_status
0,22594,Estado,Rio de Janeiro,33,RJ,00000.000000/2031-89,Arquivado por decurso de prazo,17944.000657/2016-95,2016-05-12T03:00:00Z,Operação contratual interna (com garantia da U...,Infraestrutura,Instituição Financeira Nacional,Banco Nacional de Desenvolvimento Econômico e ...,Real,989210440.0,0,0,25/10/2016
1,10606,Estado,Rio de Janeiro,33,RJ,None,Deferido,17944.001240/2009-11,2009-10-22T02:00:00Z,Operação contratual interna,"Aquisição de máquinas, equipamentos e veículos",Instituição Financeira Nacional,Banco do Brasil S/A,Real,20000000.0,1,0,04/11/2009
2,12410,Estado,Rio de Janeiro,33,RJ,None,Encaminhado à PGFN com manifestação técnica fa...,17944.001680/2011-92,2012-04-16T03:00:00Z,Operação contratual externa (com garantia da U...,Infraestrutura,Instituição Financeira Internacional,Banco Internacional para Reconstrução e Desenv...,Dólar dos EUA,600000000.0,1,0,10/07/2012
3,13271,Estado,Rio de Janeiro,33,RJ,None,Encaminhado à PGFN com manifestação técnica fa...,17944.001999/2008-12,2009-07-01T03:00:00Z,Operação contratual externa (com garantia da U...,Desenvolvimento rural,Instituição Financeira Internacional,Banco Internacional para Reconstrução e Desenv...,Dólar dos EUA,39500000.0,1,0,07/07/2009
4,13624,Estado,Rio de Janeiro,33,RJ,None,Deferido,19405.000039/2002-72,2002-06-20T03:00:00Z,Operação contratual interna,Infraestrutura,Instituição Financeira Nacional,Banco Nacional de Desenvolvimento Econômico e ...,Real,67482400.0,1,0,27/06/2002

In [3]:
# 2) Seu código aqui
df_rj['status'].value_counts()

status
Encaminhado à PGFN com manifestação técnica favorável    34
Deferido                                                 14
Arquivado a pedido                                        3
Arquivado por decurso de prazo                            1
Name: count, dtype: int64

In [4]:
# 3) Seu código aqui
ano_status = df_rj['data_status']
df_ano = ano_status.str.split()
df_ano_status = pd.DataFrame(data=df_ano)
df_ano_status

     data_status
0   [25/10/2016]
1   [04/11/2009]
2   [10/07/2012]
3   [07/07/2009]
4   [27/06/2002]
5   [03/09/2012]
6   [13/07/2006]
7   [04/07/2011]
8   [28/09/2009]
9   [04/07/2011]
10  [25/11/2009]
11  [10/07/2012]
12  [14/05/2012]
13  [26/02/2016]
14  [04/07/2011]
15  [04/10/2012]
16  [28/08/2012]
17  [06/03/2008]
18  [28/03/2013]
19  [01/03/2006]
20  [27/06/2002]
21  [24/07/2009]
22  [06/07/2010]
23  [16/05/2016]
24  [04/10/2012]
25  [04/07/2011]
26  [06/08/2009]
27  [29/05/2012]
28  [06/05/2013]
29  [21/11/2013]
30  [06/05/2013]
31  [29/07/2013]
32  [27/12/2011]
33  [27/06/2002]
34  [22/05/2009]
35  [27/12/2013]
36  [20/11/2012]
37  [01/09/2014]
38  [01/09/2014]
39  [20/04/2010]
40  [14/09/2012]
41  [18/04/2008]
42  [11/03/2016]
43  [05/02/2014]
44  [01/04/2013]
45  [09/12/2009]
46  [07/06/2011]
47  [04/07/2014]
48  [19/08/2010]
49  [27/06/2002]
50  [18/06/2009]
51  [02/07/2012]

In [5]:
# 4) Seu código aqui
df_ano_status['data_status'].value_counts()

data_status
[27/06/2002]    4
[04/07/2011]    4
[06/05/2013]    2
[10/07/2012]    2
[01/09/2014]    2
[04/10/2012]    2
[18/04/2008]    1
[27/12/2011]    1
[22/05/2009]    1
[27/12/2013]    1
[20/11/2012]    1
[20/04/2010]    1
[14/09/2012]    1
[25/10/2016]    1
[11/03/2016]    1
[29/07/2013]    1
[01/04/2013]    1
[09/12/2009]    1
[07/06/2011]    1
[04/07/2014]    1
[19/08/2010]    1
[18/06/2009]    1
[05/02/2014]    1
[29/05/2012]    1
[21/11/2013]    1
[04/11/2009]    1
[07/07/2009]    1
[03/09/2012]    1
[13/07/2006]    1
[28/09/2009]    1
[25/11/2009]    1
[14/05/2012]    1
[26/02/2016]    1
[28/08/2012]    1
[06/03/2008]    1
[28/03/2013]    1
[01/03/2006]    1
[24/07/2009]    1
[06/07/2010]    1
[16/05/2016]    1
[06/08/2009]    1
[02/07/2012]    1
Name: count, dtype: int64

####  2) Melhorando a interação com o API
Observe dois URLs de consultas diferentes, por exemplo o URL utilizado em aula, e o URL feito no exercício anterior. Compare-os e observe as diferenças.

1. Faça uma função em Python que recebe como argumento o UF da consulta e o tipo de interessado (```'Estado'```ou ```Município```), e que devolve os dados da consulta no formato *DataFrame*.
2. Quantas solicitações para o Estado podem ser consultadas para Minas Gerais com *status* em 'Arquivado por decurso de prazo' estão registradas?
3. Qual é o município da Bahia com mais solicitações deferidas?
4. Salve um arquivo .csv com os dados de solicitações da Bahia, com interessado = 'Estado'

In [51]:
url2 = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=MG&tipo_interessado=Estado'
r2 = requests.get(url2)
json_data2 = r2.json()  
df_mg = pd.DataFrame(json_data2['items'])

url3 = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=MG&tipo_interessado=Município'
r3 = requests.get(url3)
json_data3 = r3.json()  
df_mg2 = pd.DataFrame(json_data3['items'])

url4 = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=BA&tipo_interessado=Estado'
r4 = requests.get(url4)
json_data4 = r4.json()
df_ba = pd.DataFrame(json_data4['items'])

url5 = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=BA&tipo_interessado=Município'
r5 = requests.get(url5)
json_data5 = r5.json()
df_ba2 = pd.DataFrame(json_data5['items'])

In [52]:
#1) Seu código aqui
def consulta_pvl(df: pd.DataFrame, uf: str, tipo_interessado: str) -> pd.DataFrame:
       
    if uf not in df['uf'].unique():
        print(f'Estado {uf} não encontrado no DataFrame.')
    
    if tipo_interessado not in ['Estado', 'Município']:
        print('Tipo de interessado inválido. Deve ser "Estado" ou "Município"')

    df_filtrado = df[(df['uf'] == uf) & (df['tipo_interessado'] == tipo_interessado)]

    return df_filtrado

In [53]:
# 2) Seu código aqui
contagem_mg = (df_mg['status'] == 'Arquivado por decurso de prazo').sum()
contagem_mg

1

In [76]:
# 3) Seu código aqui
contagem_ba = consulta_pvl(df_ba2, 'BA', 'Município')
filter = contagem_ba[contagem_ba['status'] == 'Deferido']
filter['interessado'].value_counts()

interessado
Luís Eduardo Magalhães    16
Vitória da Conquista      12
Lauro de Freitas          11
Barreiras                 10
Camaçari                  10
                          ..
Itagibá                    1
São Felipe                 1
Caatiba                    1
Santa Luzia                1
Ribeira do Pombal          1
Name: count, Length: 185, dtype: int64

In [77]:
# 4) Seu código aqui
df_ba.to_csv('DataFrame_Bahia_Estado.csv')